body {
    font-family: Arial, sans-serif;
    background-color: #a1a1a1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 400px;
    animation: fadeIn 0.5s ease;
}

h1 {
    color: #007BFF;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: #007BFF;
}

.form-group button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #0056b3;
}

#clientesTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#clientesTable th, #clientesTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

#clientesTable th {
    background-color: #f2f2f2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

